.vscode/**
.vscode-test/**
out/test/**
src/**
test/**
scripts/**
.github/**
**/*.ts.map
**/*.test.ts
**/tsconfig.json
.gitignore
.gitattributes
.gitmodules
node_modules/**
.mocharc.unit.json
.vscode-test.mjs
eslint.config.mjs
COLOR-CATEGORIES.md
*.vsix
